/*Définition des polices personnalisés*/
@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('fonts/../SinkinSans-400Regular-webfont.eot');
    src: url('fonts/../SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/../SinkinSans-400Regular-webfont.woff2') format('woff2'),
         url('fonts/../SinkinSans-400Regular-webfont.woff') format('woff'),
         url('fonts/../SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('fonts/../SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Eléménts principaux de la page*/

body
{
	background: url(images/fond_color_redim.jpg);
	background-attachment: fixed;
	font-family: 'sinkin_sans400_regular', "Verdana", "Arial", sans-serif;
	color: #69095c;
}

#bloc_page
{
	width: 900px;
	margin: auto;
}

nav a 
{
	font-weight: normal;
	text-transform: uppercase;
}

/*header*/

header
{
	height: 152px;
	border-bottom: 1px solid #69095c;
}

#logo
{
	float: left;
	width: 150px;
	height: 150px;
}

#titre_nav
{
	border: 1px 1px 0;
	margin-left: 170px;
	height: 150px;
}

#titre_principal h1
{
	text-align: center;
	font-weight: normal;
	font-size: 2.5em;
	margin-right: 170px;
	margin-top: 0px;
	padding-top: 20px;
}

/*Navigation*/

nav ul
{
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	margin-top: 46px;
}

nav li
{
	margin-right: 15px;
}

nav a
{
	font-size: 1.3em;
	color:#69095c;
	text-decoration: none;
}

nav a:hover
{
	color: #128221;
	border-bottom: 3px solid #128221;
}

/*Corps*/

section
{
	display: flex;
	margin-bottom: 20px;
}

h1
{
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
}

aside
{
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	background-color:#757575;
	box-shadow: 0px 2px 5px #1c1a19;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 0.9em; 
	margin: 20px;
	text-align: center;
}

#president
{
	flex: 1;
}

#vice
{
	flex: 1;
}

#tresorier
{
	flex: 1;
}

#tresorier_adjoint
{
	flex: 1;
}

#secretaire
{
	flex: 1;
}

article
{
	display: flex;
	margin-left: 35px;
}

article ul
{
	list-style-type: none;
}

#liste_1
{
	flex: 1;
}

#liste_2
{
	flex: 1;
}

#liste_3
{
	flex: 1;
}

/*Footer*/

footer
{
	display: flex;
	border-top: 1px solid #69095c;
	padding-top: 25px;
	padding-bottom: 30px;
	font-size: 0.8em;
}

footer ul
{
	padding-top: 0px;
	list-style-type: none;
}

footer a
{
	text-decoration: none;
	color: #69095c;
}

footer a:hover
{
	text-decoration: underline;
}

#nom_du_site
{
	width: 89%;
}

#contacts
{
	width: 11%;
}

/*Media queries*/

@media screen and (max-width: 1024px)
{
	#bloc_page
	{
		width: auto;
	}
}

@media screen and (max-width: 800px)
{
	header
	{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		height: 170px;
	}

	#logo
	{
		margin:auto;
		margin-left: 15px;
		width: 150px;
		flex: 1;
	}

	#titre_nav
	{
		margin-left: 0px;
		flex:1;
	}

	#titre_principal h1
	{
		display: none;
		width: 0;
	}

	nav ul
	{
		flex-direction: column;
		margin-top: 10px;
	}

	nav li
	{
		margin-bottom: 12px;
	}

	section
	{
		flex-direction: column;
	}

	article, aside
	{
		margin: auto;
		width: auto;
		margin-bottom: 15px;
	}

	aside
	{
		width: 200px;
		margin-bottom: 30px;
	}
}
